<div class="site_navigation_secondary">
    <ul>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
        <li>dd Patient / Investigation</li>
    </ul>

</div>
<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="refund active"><a href="#/admin/refund">View Refund Request</a></li>
            <li class="role"><a href="#/admin/role">User Role Management</a></li>
        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="AdminController">



    <div class="refund hide">

        Under Construction

    </div>
    <div class="role hide">
        Under Construction
        
    </div>


</div>
