
<div ng-include src="'/ClientCode/Template/AdminSecondaryMenu.html'"></div>


<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="refund active"><a href="#/admin/approval/refund">View Refund Request</a></li>
            <li class="role"><a href="#/admin/approval/role">User Role Management</a></li>
        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="AdminApprovalController">



    <div class="refund hide">

        Under Construction

    </div>
    <div class="role hide">
        Under Construction

    </div>


</div>
