<div class="site_navigation_secondary" ng-controller="AdminSubMenuController">
    <ul>
        <li class="approval"><a href="#/admin/approval/refund" class="active">Admin Approval</a></li>
        <li class="summary_report"><a href="#/admin/patientsummaryreport/summary">Patient SummAry Report</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
    </ul>

</div>