<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/labtest/summary" ng-click="$event.preventDefault();">View / Setup Appointment</a></li>
            

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="AppointmentController">

    <div class="summary ">
        Appointment summary

    </div>


</div>