
<script type="text/javascript">
    // When the document is ready
    $(document).ready(function () {
        $('.txtAppointmentDate').datepicker({
            format: "mm/dd/yyyy"
        }).on('changeDate', function (ev) {
            $(this).blur();
            $(this).datepicker('hide');
        });
    });

</script>
<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/appointment/summary">View Appointment</a></li>
            <li class="setup"><a href="#/appointment/setup">View / Setup Appointment</a></li>
        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="AppointmentController">

    <div class="summary hide">

        Under Construction

    </div>
    <div class="setup hide">

        <div style="padding-left:25px; padding-top:45px;">
        <div style="float:left; width: 35%;">
            <div class="input_containter">
                <div class="title">Appointment date</div>
                <div class="inputbox">
                    <!--<input type="date" width="110" placeholder="click to show datepicker" name="appointmentDate" class="appointmentDate" ng-model="DoctorAppointment.AppointmentDate">-->
                    <input type="text" id="txtAppointmentDate" class="txtAppointmentDate" ng-change=" GetAppointments()" ng-model="DoctorAppointment.AppointmentDate" />
                    <label for="txtAppointmentDate"></label>
                </div>
            </div>
            <div class="input_containter">
                <div class="title">Department</div>
                <div class="inputbox">
                    <select name="ServiceProviderDepartment"
                            class="_s_ServiceProviderDepartment"
                            ng-model="ServiceProvider.DepartmentId"
                            ng-change="GetDoctors(ServiceProvider.DepartmentId)"
                            ng-init="ServiceProvider.DepartmentId = Departments[0].Id"
                            ng-options="department.Id as department.Name for department in Departments"
                            style="width: 200px;"></select>
                </div>
            </div>
            <div class="input_containter">
                <div class="title">Doctor</div>
                <div class="inputbox">
                    <select name="Doctor"
                            data-ng-model="Doctor"
                            ng-change="GetAppointments()"
                            data-ng-options="(doctor.Contact.FirstName + ' ' + doctor.Contact.LastName) for doctor in Doctors"
                            style="width: 200px;">
                    </select>
                </div>
            </div>

            <div class="input_containter">
                <div class="title"></div>
                <div class="inputbox" ng-show="SelectedAppointment.Id">
                    <input type="button" class="sm_button" value="Confirm Appointment" ng-click="ConfirmAppointment()" />
                </div>
            </div>
        </div>
        <div class="slots" ng-show="Appointments.length > 0" style="float: left; border: 1px solid #CCC; height: 300px; width: 150px; overflow-y: scroll;">
            <table width="100%" border="1" align="center" class="bordered">
                <tr ng-repeat="appointment in Appointments">
                    <td ng-click="SelectAppointment(appointment);"
                        ng-class="{selected:appointment.Selected, disabled:appointment.IsBooked}" class="appointment">{{appointment.Name}}</td>
                </tr>
            </table>
        </div>

        <div class="doctor-bio" ng-show="Doctor.Id">
            <div class="photo">
                <div style="width: 150px;float: left;">
                    <img ng-src="GetImage.ashx?Name={{Doctor.Contact.Photo != null && Doctor.Contact.Photo != 'null' ? Doctor.Contact.Photo : ''}}" width="115" height="146" alt="{{DoctorAppointment.ServiceProvider.Contact.FirstName}} {{DoctorAppointment.ServiceProvider.Contact.LastName}}">
                </div>
            </div>
            <div class="description">
                {{Doctor.Description}}
            </div>
        </div>
<div style="clear:both;"></div>
       </div>
    </div>
    
        
    </div>
