<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/bedsetup/summary">SUMMARY</a></li>
            <li class="addbed"><a href="#/bedsetup/addbed">ADD/EDIT PHARMACY</a></li>

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="BedSetupController">

    <div class="summary hide">
        bedsetup summary
    </div>
    <div class="addbed hide">
        bedsetup add/edit
    </div>

</div>
