<script type="text/javascript">
    // When the document is ready
    $(document).ready(function () {
        $('.reportdeliverydate').datepicker({
            format: "dd/mm/yyyy"
        });
    });

</script>

<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/billing/summary">SUMMARY</a></li>
            <li class="invoices"><a href="#/billing/invoices">INVOICES</a></li>
            <li class="receipt"><a href="#/billing/receipt">RECEIPT</a></li>
            <li class="statement"><a href="#/billing/statement">STATEMENT</a></li>
        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="BillingController">

    <div class="summary hide">
        <div class="box_general_wihout_border">
            <input name="add  payment" type="button" value="add  payment" class="sm_button">
            <input name="add receipt" type="button" value="add receipt" class="sm_button">
        </div>
        <div style="clear: both"></div>
        <div class="round_box box_general">

            <div class="round_box_title round_title_margin">
                <h1>Balance summary</h1>
            </div>
            <div class="round_box_rightcontent line_height_small">
                <p>
                    <h2>Balance</h2>
                    0 BDT</p>
                <p>
                    <h2>DEBIT</h2>
                    5000 BDT</p>
                <p>
                    <h2>CREDIT</h2>
                    5000 BDT</p>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="box_general_wihout_border margin_bottom_small">

            <button type="button" class="sm_button modal_click" ng-click="InvoiceModal('lg')">build invoice</button>
            <button type="button" class="sm_button modal_click" data-toggle="modal" data-target="#receiptView">build receipt</button>

        </div>
        <div style="clear: both"></div>
        <div class="add_item_container">
            <div class="item_grid">
                <table width="100%" border="1" align="center" class="bordered" ng-model="BillingItem" ng-init="GetBillingItemByPatientId(Patient.Id)">
                    <thead>
                        <tr>
                            <th width="3%"><input type="checkbox" name="all" id="all" ng-model="selectedAll" ng-click="checkAll()" class="lineitem_check_box"></th>
                            <th width="18%">ITEM  NAME</th>
                            <th width="14%">CATEGORY</th>
                            <th width="7%">QUANTITY</th>
                            <th width="10%">cost</th>
                            <th width="10%">discount</th>
                            <th width="11%">Discount type</th>
                            <th width="10%">cost after discount</th>
                            <th width="14%">Referrer after discount</th>
                            <th width="3%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="billingitem in BillingItem">
                            <td><input type="checkbox" name="lineitem" ng-model="billingitem.Selected" class="lineitem_check_box"></td>
                            <td>{{billingitem.Item.Name}}</td>
                            <td>{{billingitem.Item.GenericName}}</td>
                            <td><input type="text" width="50" name="quantity" ng-model="billingitem.ServiceQuantity" class="quantity"></td>
                            <td><input type="text" width="100" name="cost" ng-model="billingitem.ServiceListPrice" class="cost"></td>
                            <td><input type="text" width="100" name="discount" ng-change="adjustAfterDiscount(billingitem)" ng-model="billingitem.Discount" class="discount"></td>
                            <td>
                                <select class="distype" ng-model="billingitem.DisCountTypeID" ng-change="adjustAfterDiscount(billingitem)">
                                    
                                    <option ng-repeat="discounttype in billingitem.DiscountTypes"
                                            value="{{discounttype.id}}"
                                            ng-selected="{{discounttype.id === billingitem.DisCountTypeID }}">
                                        {{discounttype.name}}
                                    </option>
                                </select>
                            <td>
                                <input type="text" width="50" name="costafterdiscount" ng-model="billingitem.ServiceListPriceAfterDiscount" class="cost_after_discount">
                            </td>
                            <td><input type="text" width="50" name="referrerafterdiscount" ng-model="billingitem.ReferralAfterDiscount" class="referrer_after_discount"></td>
                            <td><a class="fa fa-trash fa-2x" aria-hidden="true" href="#"></a></td>
                        </tr>

                    </tbody>
                </table>

                <table width="100%" border="1" cellpadding="2" cellspacing="2" class="line_item_total_calc">
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="2%">
                            <img src="images/ico_note.gif" width="17" height="17" aslt="note"></td>
                        <td width="66%">
                            <h2>DOCTOR’S REFERRER FEE   {{TotalReferralFee}}</h2>
                        </td>
                        <td width="14%">
                            <h2>TOTAL COST </h2>
                        </td>
                        <td width="18%">
                            <h2>{{TotalAmount}}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="referral" id="referral">
                            <label for="referral"></label>
                        </td>
                        <td>
                            <h2>REFERRER FULL DISCOUNT</h2>
                        </td>
                        <td>
                            <h2>TOTAL DISCOUNT</h2>
                        </td>
                        <td>
                            <h2>{{TotalDiscount}}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="border_bottom"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <h2>Total</h2>
                        </td>
                        <td>
                            <h2>{{TotalAmountAfterDiscount}}</h2>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <div class="invoices hide">


        <div class="criteria_box">
            <div class="search_container">
                <!-- <input type="text" width="50" maxlength="20" name="search" class="search" ><a href="#" class="fa fa-search"></a>-->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>

            </div>
            <div class="date_range">
                <h2 class="padding_left10">start date</h2>
                <input type="text" width="110" placeholder="click to show datepicker" name="reportdeliverydate" class="reportdeliverydate">
                <h2 class="padding_left10">end date</h2>
                <input type="text" width="110" placeholder="click to show datepicker" name="reportdeliverydate" class="reportdeliverydate">
            </div>
            <div class="select_all_patient">
                <input type="radio" value="all" name="patient" class="all_patient_checkbox"><h2>all patient</h2>
                <input type="radio" value="selected" name="patient" class="selected_patient_checkbox"><h2>selected patient</h2>
            </div>
            <select name="status" class="invoice_status">
                <option value="open">OPEN</option>
                <option value="close">CLOSED</option>
                <option value="refunded">REFUNDED</option>
            </select>
        </div>
        <div style="clear: both;"></div>
        <div class="invoices_grid">

            <div class="item_grid">
                <table width="100%" border="1" align="center" class="bordered evencolor">
                    <thead>
                        <tr>
                            <th width="5%">&nbsp;</th>
                            <th width="12%">date</th>
                            <th width="6%">no</th>
                            <th width="24%">patient</th>
                            <th width="10%">total cost</th>
                            <th width="7%">paid</th>
                            <th width="9%">copayer</th>
                            <th width="16%">status</th>
                            <th width="11%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="fa fa-arrow-circle-down fa-2x" aria-hidden="true" href="#"></a></td>
                            <td>23-ARPL-2016 </td>
                            <td>12  </td>
                            <td>Delwar Hossain</td>
                            <td>4500.00</td>
                            <td>2000.00</td>
                            <td>
                            0.00
                            <td><span class="status_green">Open</span></td>
                            <td><a class="fa fa-print fa-2x" aria-hidden="true" href="#"></a>&nbsp;<a class="link_brown" href="#">payment</a></td>
                        </tr>
                        <tr>
                            <td colspan="9" align="center" class="padding_left60">

                                <table width="90%" border="1" align="center" class="bordered small_header">
                                    <thead>
                                        <tr>
                                            <th width="16%">ITEM  NAME</th>
                                            <th width="13%">CATEGORY</th>
                                            <th width="7%">QUANTITY</th>
                                            <th width="6%">cost</th>
                                            <th width="9%">discount</th>
                                            <th width="10%">Discount type</th>
                                            <th width="9%">cost after discount</th>
                                            <th width="9%">Referrer after discount</th>
                                            <th width="21%">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>USG - HBS (Liver) </td>
                                            <td>Haematology Clinic  </td>
                                            <td>1</td>
                                            <td>1200</td>
                                            <td>120</td>
                                            <td>
                                            by Amount
                                            <td>1200</td>
                                            <td>100</td>
                                            <td>
                                                <a class="fa fa-pencil-square-o fa-1_5x" aria-hidden="true" href="#"></a>
                                                <span class="status_green">refund request sent</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>USG - HBS (Liver) </td>
                                            <td>Haematology Clinic  </td>
                                            <td>1</td>
                                            <td>1400</td>
                                            <td>
                                                <input type="text" width="100" name="amount" class="amount"></td>
                                            <td>by Amount</td>
                                            <td>1400</td>
                                            <td>200</td>
                                            <td>
                                                <a class="fa fa-floppy-o fa-1_5x" aria-hidden="true" href="#"></a>
                                                <a href="#" class="link_brown">refund</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="fa fa-arrow-circle-right fa-2x" aria-hidden="true" href="#"></a></td>
                            <td>23-ARPL-2016 </td>
                            <td>12 </td>
                            <td>Delwar Hossain</td>
                            <td>4500.00</td>
                            <td>2000.00</td>
                            <td>
                            0.00
                            <td><span class="status_blue">Close</span></td>
                            <td><a class="fa fa-print fa-2x" aria-hidden="true" href="#"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>


    </div>


</div>
