<div class="modal-header rite_modal_header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden=" true">&times;</span></button>
    <h2 class="modal-title" id="myModalLabel">
       Set Doctor's Commission
    </h2>
</div>
<div class="modal-body">
    <div class="payment">

        <div class="title">SELECT DOCTOR</div>
        <div class="inputbox">


            <input name="doctorName" id="doctorName" type="text"   placeholder="Type Doctor's name"
                   ng-model="Doctor.Name"
                   typeahead="item as (item.Contact.FirstName + ' ' + item.Contact.LastName) for item in GetDoctorPartialName($viewValue)"
                   typeahead-on-select="OnDocotorSelect($item)"
                   typeahead-min-length="1"
                   typeahead-wait-ms="1"
                   class="form-control">
        </div>

        <div class="title">COMMISSION AMOUNT</div>
        <div class="inputbox">
            <input type="text" class="payment_amount" ng-model="CommissionAmount">
        </div>
        
        <div style="clear: both"></div>
        <div class="space"></div>
        <div class="title"></div>
        <div class="inputbox">
            <input name="save" type="button" value="save" class="md_button" ng-click="ok()">
            <!--<input name="cancel" type="button" value="cancel" class="md_button cancel" ng-click="cancel()">-->
            <div style="clear: both"></div>
            <div class="space"></div>


        </div>

       
        
    </div>

    <table width="95%" border="0" class="flatTable" ng-model="Referrals">
        <thead>
            <tr>
                <th width="8%">&nbsp;</th>
                <th width="38%">DOCTOR'S NAME</th>
                <th width="29%">COMMISSION AMOUNT</th>
                <th width="25%">&nbsp;</th>
            </tr>
        </thead>
        <tbody ng-repeat="referral in Referrals">
            <tr>
                <td>&nbsp;</td>
                <td>{{referral.ServiceProvider.Contact.FirstName}} {{referral.ServiceProvider.Contact.LastName}}</td>
                <td>{{referral.ReferralFee}}</td>
                <td><a class="fa fa-trash fa-2x" aria-hidden="true" href="#" ng-click="$event.preventDefault();deleteCommission(referral.Id);"></a></td>
            </tr>
<tbody>
    </table>


</div>
