<script>
    $(document).ready(function () {
        $('.dob').datepicker({
            format: "yyyy-mm-dd",
            startView: "year",
            minViewMode: "day"
        }).on('changeDate', function (ev) {
            $(this).blur();
            $(this).datepicker('hide');
        });
    });
</script>

<div class="modal-header rite_modal_header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"><h2>Patient Registration</h2></h4>
</div>
<div class="modal-body">
    <div class="patient_registration_contnet">

        <div class="input_containter">
            <div class="title">First Name</div><div class="inputbox"><input type="text" class="first_name" ng-model="Patient.FirstName"></div>
        </div>

        <div class="input_containter">
            <div class="title">Last Name</div><div class="inputbox"><input type="text" class="last_name" ng-model="Patient.LastName"></div>
        </div>

        <div class="input_containter">
            <div class="title">gender</div>
            <div class="inputbox">
                <select name="gender" class="generaldropdown" ng-model="Patient.Gender">
                    <option value="false" ng-selected="{{ Patient.Gender == false }}">MALE</option>
                    <option value="true" ng-selected="{{ Patient.Gender == true }}">Female</option>
                </select>
            </div>
        </div>

        <div class="input_containter">
            <div class="title">blood group</div><div class="inputbox">
                <select name="bloodgroup" class="" ng-model="Patient.BloodGroup">
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="0-">O-</option>
                </select>
            </div>
        </div>

        <div class="input_containter">
            <div class="title">mobile</div><div class="inputbox"><input type="text" class="mobile" ng-model="Patient.PhoneNumber"></div>
        </div>

        <div class="input_containter">
            <div class="title">e-mail</div><div class="inputbox"><input type="text" class="email" ng-model="Patient.Email"></div>
        </div>


        <div class="input_containter">
            <div class="title">city</div><div class="inputbox"><input type="text" class="city" ng-model="Patient.City"></div>
        </div>
        <div class="input_containter">
            <div class="title">zip</div><div class="inputbox"><input type="text" class="zip" ng-model="Patient.Zip"></div>
        </div>

        <div class="input_containter">
            <div class="title">Country</div><div class="inputbox"><input type="text" class="country" ng-model="Patient.Country"></div>
        </div>


        <div class="input_containter">
            <div class="title">date of birth</div><div class="inputbox">

                <input type="text" width="110" placeholder="click to show datepicker" name="dob" class="dob" ng-model="Patient.DOB">

            </div>
        </div>

        <div class="input_containter">
            <form name="form">
                <div class="title">Picture</div>
                <input type="file"
                       id="PatientFileInput"
                       accept="image/*"
                       ngf-select ng-model="picFile"
                       name="file"
                       ngf-max-size="2MB"
                       ngf-model-invalid="errorFile"
                       style="opacity:0; position: absolute; top: 0px;">

                <input type="button"
                       ng-show="!picFile && (!Patient.Photo || Patient.Photo == 'null')"
                       class="_s_SelectFile md_button"
                       style="width: 100px; float: left;"
                       onclick="document.getElementById('PatientFileInput').click()"
                       value="Select file">
                
                <i ng-show="form.file.$error.maxSize" class="text-danger">
                    File too large({{errorFile.size / 1000000|number:2}}MB). Maximum file size is 2MB.
                </i>

                <div>
                    <div ng-show="form.file.$valid">
                        <img ngf-thumbnail="picFile" class="thumb" style="width: 200px;">
                        <button ng-click="picFile = null" ng-show="picFile" class="md_button">Remove</button>
                    </div>
                    <div ng-show="Patient.Photo != null && Patient.Photo != 'null'">
                        <img ng-src="GetImage.ashx?Name={{Patient.Photo && Patient.Photo != 'null' ? Patient.Photo : ''}}" style="width: 200px" alt="{{Patient.FirstName}} {{Patient.LastName}}">
                        <button ng-click="Patient.Photo = null" class="md_button">Remove</button>
                    </div>
                </div>
            </form>
            <span class="progress" ng-show="picFile.progress >= 0">
                <div style="width: {{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
            </span>
        </div>

        <div class="input_containter">
            <div class="space"></div>
            <div class="title"></div>
            <div class="inputbox">
                <input name="save" type="button" value="save" class="md_button" ng-click="ok(picFile)">
                <input name="cancel" type="button" value="cancel" class="md_button cancel" ng-click="cancel()">
            </div>
        </div>

    </div>

</div>