<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/expense/summary">SUMMARY</a></li>
            <li class="addexpense"><a href="#/doctor/pinfo">Add Expense</a></li>

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="ExpenseController">
    <div class="summary hide">

        demo
    </div>
    <div class="addexpense hide">

        demo
    </div>
</div>
