<div class="modal-header rite_modal_header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden=" true">&times;</span></button>
    <h2 class="modal-title" id="myModalLabel">
        Build Invoice
    </h2>
</div>
<div class="modal-body">
    <div class="payment">

        <div class="payment_top">
            <div class="floatleft">
                <img src="images/ico_note.gif" width="17" height="17" alt="note">
            </div>
            <div class="floatleft success_message">INVOICE CREATED SUCCESSFULLY</div>
            <div class="floatright modal_menu"><a href="#" class="active">Enter payment</a> | <a href="#">view/EDIT INVOICE</a> | <a href="#">PRINT INVOICE</a></div>
            <div style="clear: both"></div>
        </div>
        <div class="payment_middle">

            <div class="payment_detail_left line_height_small" ng-controller="PatientController">

                <p>
                    <h2>NAME</h2>
                    {{Patient.FirstName}} {{Patient.LastName}}
                </p>
                <p>
                    <h2>GENDER</h2>
                    {{Patient.Gender ? 'Female' : 'Male'}}
                </p>
                <p>
                    <h2>ADDRESS</h2>
                    {{Patient.City}}, {{Patient.Zip}}, {{Patient.Country}}
                </p>

            </div>
            <div class="payment_detail_right line_height_small">
                <p>
                    <h2>INVOICE DATE</h2>
                    {{Invoice.Date.getDate() + '/' + Invoice.Date.getMonth() + '/' + Invoice.Date.getFullYear()}}
                </p>
                <p>
                    <h2>INVOICE NO</h2>
                    {{Invoice.Id}}
                </p>
                <p>
                    <h2>TOTAL</h2>
                    {{Invoice.TotalAmount}}  BDT  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                <h2>PAID</h2>
                    {{Invoice.PaidAmount}}  BDT
                </p>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="horizontal_line"></div>
        <div class="payment_input_box">
            <h3>ENTER PAYMENT</h3>
            <div class="title">PAYMENT AMOUNT</div>
            <div class="inputbox">
                <input type="text" class="payment_amount">
            </div>
            <div class="title">COPAYER AMOUNT</div>
            <div class="inputbox">
                <input type="text" class="copayer_amount">
            </div>
            <div style="clear: both"></div>

            <div class="title">PAYMENT METHOD</div>
            <div class="inputbox">
                <select name="paymentmethod" class="payment_method">
                    <option value="cash">Cash</option>
                    <option value="visa">Visa Card</option>
                    <option value="visa">Master Card</option>
                </select>
            </div>
            <div class="title">RECONCILE  AMOUNT</div>
            <div class="inputbox">
                <input type="text" class="copayer_amount">
            </div>
            <div style="clear: both"></div>
            <div class="space"></div>
            <div class="title"></div>
            <div class="inputbox">
                <input name="save" type="button" value="save" class="md_button" ng-click="ok(picFile)">
                <input name="cancel" type="button" value="cancel" class="md_button cancel" ng-click="cancel()">
                <div style="clear: both"></div>
                <div class="space"></div>


            </div>

        </div>
    </div>
</div>
