<script>


    $(document).ready(function() {


        $('#categoryPop').click(function (event) {
          //  alert("test");
            event.preventDefault();
            $('#popupCategory').css("visibility", "visible");
            $('#popupCategory').css("opacity", 1);

        });


        $('#LabReportGroup').click(function (event) {
            //  alert("test");
            event.preventDefault();
            $('#popupLabReportGroup').css("visibility", "visible");
            $('#popupLabReportGroup').css("opacity", 1);

        });



        $('#MeasurementUnit').click(function (event) {
            //  alert("test");
            event.preventDefault();
            $('#popupMeasurementUnit').css("visibility", "visible");
            $('#popupMeasurementUnit').css("opacity", 1);

        });




  

   $("#popupCategory .close").click(function () {
      
      $('#popupCategory').css("visibility", "hidden");
      $('#popupCategory').css("opacity", 0);
   });


   $("#popupLabReportGroup .close").click(function () {

       $('#popupLabReportGroup').css("visibility", "hidden");
       $('#popupLabReportGroup').css("opacity", 0);
   });


   $("#popupMeasurementUnit .close").click(function () {

       $('#popupMeasurementUnit').css("visibility", "hidden");
       $('#popupMeasurementUnit').css("opacity", 0);
   });




});



</script>

<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a ng-href="#/labtest/summary">SUMMARY</a></li>
            <li class="listlabtest"><a ng-href="#/labtest/listlabtest">LAB TEST LIST</a></li>
            <li class="addlabtest"><a ng-href="#/labtest/addlabtest">ADD/EDIT LAB TEST</a></li>

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>





<div class="content" ng-controller="LabTestController">

    <div id="popupCategory" class="overlay">
        <div class="popup">
            <h2>Enter Category</h2>
            <a class="close" href="#" ng-click="$event.preventDefault();">×</a>
            <div class="content_text">
                <div class="padding40">
                    <div>Category Name</div>
                    <div><input type="text" ng-model="categoryName"></div>
                    <div><input name="save" type="button" value="save" class="md_button" ng-click="saveCategory()"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="popupLabReportGroup" class="overlay">
        <div class="popup">
            <h2>Enter LabReportGroup</h2>
            <a class="close" href="#" ng-click="$event.preventDefault();">×</a>
            <div class="content_text">
                <div class="padding40">
                    <div>Lab Report Group Name</div>
                    <div><input type="text" ng-model="reportGroupName"></div>
                    <div><input name="save" type="button" value="save" class="md_button" ng-click="saveReportGroup()"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="popupMeasurementUnit" class="overlay">
        <div class="popup">
            <h2>Enter Measurement Unit</h2>
            <a class="close" href="#" ng-click="$event.preventDefault();">×</a>
            <div class="content_text">
                <div class="padding40">
                    <div>Measurement Unit Name</div>
                    <div><input type="text" ng-model="measurementUnitName"></div>
                    <div><input name="save" type="button" value="save" class="md_button" ng-click="saveMeasurementUnit()"></div>
                </div>
            </div>
        </div>
    </div>




    <div class="summary hide">

        <div class="criteria_box">
            <div class="search_container">
                <!-- <input type="text" width="50" maxlength="20" name="search" class="search" ><a href="#" class="fa fa-search"></a>-->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>

            </div>
            <div class="date_range">
                <h2 class="padding_left10">start date</h2>
                <input type="text" width="110" placeholder="click to show datepicker" name="reportdeliverydate" class="reportdeliverydate">
                <h2 class="padding_left10">end date</h2>
                <input type="text" width="110" placeholder="click to show datepicker" name="reportdeliverydate" class="reportdeliverydate">
            </div>
            <div class="select_all_patient">
                <input type="radio" value="0" ng-model="patientSelection" ng-change="loadLabTest()" name="patient" class="all_patient_checkbox"><h2>all patient</h2>
                <input type="radio" value="1" ng-model="patientSelection" ng-change="loadLabTest()" ng-checked="true" name="patient" class="selected_patient_checkbox"><h2>selected patient</h2>
            </div>
            <select name="status" class="invoice_status" ng-model="LabTestStatus" ng-change="reloadlabtest()">
                <option value=" 0" ng-selected="true">
                    ALL
                </option>
                <option value="1">PENDING</option>
                <option value="2">COMPLETED</option>
                <option value="3">REFUNDED</option>
            </select>
        </div>
        
        <table width="100%" border="1" align="center" class="bordered evencolor" ng-model="labTestItems">
            <thead>
                <tr>
                    <th width="3%">&nbsp;</th>
                    <th width="10%">DATE</th>
                    <th width="17%">Invoice No.</th>
                    <th width="17%">Patient</th>
                    <th width="14%">created by</th>
                    <th width="23%">Status</th>
                    <th width="12%">&nbsp;</th>
                </tr>
            </thead>
            <tbody ng-repeat="labTestitem in labTestItems">
                <tr>
                    <td><a ng-class="{'fa fa-arrow-circle-right fa-2x' : labTestitem.selectedIcon==true,'fa fa-arrow-circle-down fa-2x':labTestitem.selectedIcon==false}" aria-hidden="true" href="#" ng-click="$event.preventDefault();toggleDetail(labTestitem)"></a></td>
                    <td>{{labTestitem.InvoiceDate}}</td>
                    <td>{{labTestitem.Id}}</td>
                    <td>{{labTestitem.Patient.FirstName}} {{labTestitem.Patient.LastName}}</td>
                    <td>rashed</td>
                    <td><span ng-class="{'status_red':labTestitem.LabStatusId==1, 'status_green':labTestitem.LabStatusId==2}">{{labTestitem.Staus}}</span></td>

                    <td><a class="fa fa-print fa-2x" aria-hidden="true" href="#"></a>&nbsp;<a class="fa fa-check fa-2x" aria-hidden="true" href="#"></a></td>
                </tr>
                <tr ng-show="labTestitem.activePosition">
                    <td>&nbsp;</td>
                    <td colspan="5">

                        <table width="90%" border="1" align="center" class="bordered small_header">
                            <thead>
                                <tr>
                                    <th width="16%">teST  NAME</th>
                                    <th width="13%">CATEGORY</th>
                                    <th width="7%">Medic</th>
                                    <th width="7%">STATUS</th>
                                    <th width="21%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="patientservice in labTestitem.PatientServices">
                                <tr>
                                    <td>{{patientservice.Item.Name}}</td>
                                    <td>{{patientservice.Item.GenericName}}</td>
                                    <td>{{patientservice.ServiceProvider.Contact.FirstName}}  {{patientservice.ServiceProvider.Contact.LastName}}</td>
                                    <td><span ng-class="{'status_red':patientservice.LabStatusId==1, 'status_green':patientservice.LabStatusId==2}">{{patientservice.Staus}}</span></td>
                                    <td>
                                        <a class="fa fa-print fa-2x" aria-hidden="true" href="#"></a>
                                        <a href="#" ng-show="patientservice.LabStatusId<2" ng-click="$event.preventDefault();openResultTemplate('lg','false',patientservice,labTestitem);" class="link_brown">ENTER RESULT</a>
                                        <a href="#" ng-show="patientservice.LabStatusId>1"  ng-click="$event.preventDefault();openResultTemplate('lg','true',patientservice,labTestitem);" class="link_brown">VIEW/EDIT RESULT</a>
                                    </td>
                                </tr>


                            </tbody>
                        </table>

                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>



    </div>

    <div class="listlabtest hide">
        <div class="round_box box_general">

            <table width="90%" border="1" align="center" class="bordered" ng-model="Labitems" >
                <thead>
                    <tr>
                        <th width="36%">Test Name</th>
                        <th colspan="6">Category</th>
                        <th width="17%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="labitem in Labitems">
                        <td>{{labitem.Name}} </td>
                        <td colspan="6">{{labitem.ItemCategory.Name}}   </td>
                        <!--<td><a class="fa fa-trash fa-2x" aria-hidden="true" href="#"></a>&nbsp;<a class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ng-href="#/labtest/addlabtest/{{labitem.Id}}" ></a></td>-->
                        <td><a class="fa fa-trash fa-2x" aria-hidden="true" ng-click="$event.preventDefault();deleteLabTest(labitem.Id);" ng-really-message="Are you Sure you want to Delete ?" ng-really-click="takeAction()"></a>&nbsp;<a class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ng-href="#/labtest/addlabtest/{{labitem.Id}}"></a></td>
                    </tr>

                </tbody>
                <tfoot>
                </tfoot>
            </table>

        </div>

    </div>

    <div class="addlabtest hide">

        <div class="round_box box_general" ng-show="saveSuccess>0">

            <div class="success_message">Successfully save the Item</div>
            </div>
        <div style="clear:both;"></div>
            <div class="round_box box_general">
                <table width="95%" border="1" ng-model="SingleLabItem">
                    <tr>
                        <td width="14%" height="39">&nbsp;</td>
                        <td width="19%">NAME</td>
                        <td width="19%"><input type="text" ng-model="SingleLabItem.Name"></td>
                        <td width="48%"><input ng-show="SingleLabItem.Id>0" name="report format" type="button" value="ADD NEW REPORT FORMAT" ng-click="openTemplate('lg','false',labreportformat.Id)" class="sm_button"></td>
                    </tr>
                    <tr ng-show="SingleLabItem.Id>0">
                        <td height="39">&nbsp;</td>
                        <td>REPORT FORMAT</td>
                        <td colspan="2">
                            <!--1. X-Ray PNS - Normal Report &nbsp;&nbsp;&nbsp; <a class="link_green" href="#">EDIT</a> <a class="link_brown" href="#">DELETE</a><br>
                             2.  X-Ray PNS - Detail Report &nbsp;&nbsp;&nbsp; <a class="link_green" href="#">EDIT</a> <a class="link_brown" href="#">DELETE</a>-->
                            <div ng-repeat="labreportformat in LabReportFormats">
                                <span>{{labreportformat.Name}}</span><a class="link_green" href="#" ng-click="$event.preventDefault();openTemplate('lg','true',labreportformat.Id)">EDIT</a> <a class="link_brown" href="#" ng-click="$event.preventDefault();DeleteReportFormat(labreportformat.Id);">DELETE</a><br>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>CODE</td>
                        <td colspan="2"><input type="text" ng-model="SingleLabItem.Code"></td>
                    </tr>

                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>GENERIC NAME</td>
                        <td colspan="2"><input type="text" ng-model="SingleLabItem.GenericName"></td>
                    </tr>

                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>CATEGORY</td>
                        <td colspan="2">

                            <select ng-model="filterCondition.ItemCategoryId">

                                <option ng-repeat="category in LabTestCategories" value="{{category.Id}}"> {{category.Name}}</option>

                            </select>
                            <a class="fa fa-plus-circle fa-2x" aria-hidden="true" id="categoryPop"></a>


                        </td>
                    </tr>
                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>LAB REPORT GROUP</td>
                        <td colspan="2">

                            <select ng-model="filterCondition.LabReportGroupId">
                                <option value=""></option>
                                <option ng-repeat="LabReportGroupId in LabTestGroups" value="{{LabReportGroupId.Id}}">{{LabReportGroupId.Name}}</option>
                            </select>





                            <a class="fa fa-plus-circle fa-2x" aria-hidden="true" id="LabReportGroup" href="#"></a>
                        </td>
                    </tr>
                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>MEASURE UNIT</td>
                        <td colspan="2">

                            <select name="palnType3" class="distype" ng-model="filterCondition.MeasurementUnitId">


                                <option ng-repeat="measureMentUnit in MeasureMentUnits" value="{{measureMentUnit.Id}}">{{measureMentUnit.Name}}</option>



                            </select>
                            <a class="fa fa-plus-circle fa-2x" aria-hidden="true" href="#" id="MeasurementUnit"></a>


                        </td>
                    </tr>
                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>CHARGE PRICE</td>
                        <td colspan="2"><input type="text" ng-model="SingleLabItem.SalePrice"></td>
                    </tr>
                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>REFERRAR'S COMISSIOM</td>
                        <td colspan="2"><input type="text" ng-model="SingleLabItem.DefaultReferrarFee"> &nbsp;&nbsp; <a class="arrow_head" href="#" ng-click="$event.preventDefault();CommissionModal('lg',true)" ng-show="SingleLabItem.Id>0"> Set Comission by Doctor's Name</a></td>
                    </tr>
                    <tr>
                        <td height="39">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="39">&nbsp;</td>
                        <td colspan="3">
                            <input name="save" type="button" value="save" class="md_button" ng-click="saveItem();">
                            <input name="cancel" type="button" value="cancel" class="md_button">
                        </td>
                    </tr>
                </table>
            </div>

        <div style="clear:both;"></div>
        </div>

</div>