<script type="text/javascript">
    // When the document is ready
    $(document).ready(function () {





    });
</script>

<div class="content">
    
    <div class="home_top">
        <div class="home_patient_details">
            <div class="patient_pic">
                <img src="GetImage.ashx?Name={{Patient.Photo}}" width="115" height="146" alt="{{Patient.FirstName}} {{Patient.LastName}}">

                <input name="Admit to Hospital" type="button" value="Admit to Hospital" class="sm_button">
            </div>
            <p>&nbsp;</p>
            <div class="patient_address">
                <p><h2>NAME</h2>        <span> {{Patient.FirstName}} {{Patient.LastName}}</span></p>
                <p><h2> GENDER</h2>  <span>{{Patient.Gender ? 'Female' : 'Male'}}</span></p>
                <p><h2>ADDRESS</h2>    <span>{{Patient.City}}, {{Patient.Zip}}, {{Patient.Country}}</span></p>
                <p><h2>BLOOD GROU</h2>   <span>{{Patient.BloodGroup}}</span></p>
                <p><h2>MOBILE</h2>  <span> {{Patient.PhoneNumber}}</span></p>
                <p><h2>E-MAIL</h2>   <span>{{Patient.Email}}</span></p>
                <p><h2>DATE OF BIRTH</h2>   <span>{{Patient.DOB |date:'medium'}}</span><span> ({{ Patient.Age }})</span></p>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="home_appointment_details">
            <p><h2>APPOINTMENT (04/22/2016)</h2></p>
            <p> <h2>  DEPARTMENT</h2> Neurology </p>
            <p> <strong>Dr. Alim Akhtar Bhuiyan</strong></p>
            <p>MBBS, DTM & H (UK), MD (USA), Board Certified in Neurology (USA), </p>
            <p>Post Doctoral Fellowship in Epilepsy (USA)</p>
            <p>Senior Consultant</p>
            <div class="home_appointment_bt">
                <input name="Confirm appointment" type="button" value="Confirm appointment" class="sm_button">
                <input name="CANCEL appointment" type="button" value="CANCEL appointment" class="sm_button">
                <input name="Add appointment" type="button" value="Add appointment" class="sm_button">
            </div>

        </div>

        <div style="clear:both;"> </div>

    </div>
    <div class="horizontal_line"></div>
    <div class="home_add_item_container" ng-controller="AddItemController">
        <div class="add_item_input">
            <h1>Add Item</h1><br /><br />
            <select ng-model="filterCondition.MedicalType">
                <option ng-repeat="MedicalType in MedicalTypes" value="{{MedicalType.Id}}">{{MedicalType.Name}}</option>
            </select>




            <div class="floatleft">
                 <!--<input type="text" name="itemname" id="itemname">-->
                <input name="itemname" id="itemname" type="text" placeholder="Type Item's name"
                       ng-model="Item"
                       typeahead="item as (item.Name) for item in GetItembyMedicalPartialName($viewValue)"
                       typeahead-on-select="OnItemSelect($item)"
                       typeahead-min-length="1"
                       typeahead-wait-ms="1"
                       class="form-control">



            </div>
            <div class="itemButton"> <input name="Add" type="button" value="add" class="md_button"></div>
            <div style="clear:both;"> </div>
        </div>

        <div class="item_grid">

            <table width="100%" border="1" align="center" class="bordered">
                <thead>
                    <tr>
                        <th width="19%">ITEM  NAME</th>
                        <th width="12%">CATEGORY</th>
                        <th width="7%">QUANTITY</th>
                        <th width="9%">REFERRER  FEE</th>
                        <th width="16%">DOCTOR</th>
                        <th width="9%">AMOUNT</th>
                        <th width="11%">REPORT DELIVERY DATE</th>
                        <th width="10%">REPORT DELIVERY TIME </th>
                        <th width="7%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="serviceitem in Items">
                        <td>{{serviceitem.Name}}</td>
                        <td>{{serviceitem.GenericName}}</td>
                        <td><input type="text" width="50" ng-model="serviceitem.Quantity" ng-change="updateItem(serviceitem)" name="quantity" class="quantity"></td>
                        <td><input type="text" width="100" ng-model="serviceitem.ReferralFee" ng-show="serviceitem.ReferralAllowed" name="referrer" class="referrer"></td>
                        <td>
                            <!--<input type="text" width="100" name="doctor" class="doctor">-->

                            <!--<input name="doctorName" id="doctorName" type="text" placeholder="Type Doctor's name"
                                   ng-model="Doctor"
                                   typeahead="doctor as (doctor.Contact.FirstName+' '+ doctor.Contact.LastName+' '+doctor.ID) for doctor in GetServiceProviderPartialName($viewValue)"
                                   typeahead-on-select="OnDocotorSelect(doctor.Contact.FirstName)"
                                   typeahead-min-length="1"
                                   typeahead-wait-ms="1"
                                   class="form-control">-->


                            <input name="doctorName" id="doctorName" type="text" ng-show="serviceitem.ReferralAllowed" ng-change="updateReferrerItem(serviceitem,Doctor)" placeholder="Type Doctor's name"
                                   ng-model="Doctor"
                                   typeahead="item as (item.ServiceProvider.Contact.FirstName + ' ' + item.ServiceProvider.Contact.LastName) for item in GetServiceProviderPartialName($viewValue,serviceitem.Id)"
                                   typeahead-on-select="OnDocotorSelect($item,serviceitem)"
                                   typeahead-min-length="1"
                                   typeahead-wait-ms="1"
                                   class="form-control">

                        </td>
                        <td><input type="text" width="100" name="amount" ng-model="serviceitem.Amount" class="amount"></td>
                        <td>
                            <!--<datepicker-auto ng-model="item.Date" class="reportdeliverydate"></datepicker-auto>-->
                            <input type="text" width="110" ng-show="serviceitem.ReferralAllowed" ng-model="serviceitem.Date" ng-init="initDatePicker()" placeholder="click to show datepicker" name="reportdeliverydate" class="reportdeliverydate">
                        </td>

                        <td>
                            <select name="reportdtime" ng-model="serviceitem.ReportDeliveryTime" ng-show="serviceitem.ReferralAllowed" class="time">
                                <option value="7pm">7PM-8PM</option>
                                <option value="9pm">9PM-10PM</option>
                                <option value="8am">8AM-10AM</option>
                                <option value="11am ">11AM-12AM</option>
                            </select>

                        </td>
                        <td><a class="fa fa-trash fa-2x" aria-hidden="true" href="" ng-click="$event.preventDefault();Items.splice($index, 1);"></a></td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" style="text-align:right; padding-right:42pz;">
                            <input name="save" type="button" value="save" ng-click="serviceItemSave()" class="md_button">

                            <input name="cancel" type="button" value="cancel" ng-click="serviceItemEmpty()" class="md_button">
                        </td>
                        <td style="text-align:right; padding-right:42pz;">&nbsp;</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>


