
<div ng-include src="'/ClientCode/Template/AdminSecondaryMenu.html'"></div>

<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/admin/patientsummaryreport/summary">Summary</a></li>
            <li class="demo"><a href="#/admin/patientsummaryreport/demo">Demo Tab</a></li>
        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="PatientSummaryReportController">



    <div class="summary hide">

        Under Construction

    </div>
    <div class="demo hide">
        Under Construction

    </div>


</div>
