<script>


    $(document).ready(function () {


        $('#categoryPop').click(function (event) {
            //  alert("test");
            event.preventDefault();
            $('#popupCategory').css("visibility", "visible");
            $('#popupCategory').css("opacity", 1);

        });






        $('#MeasurementUnit').click(function (event) {
            //  alert("test");
            event.preventDefault();
            $('#popupMeasurementUnit').css("visibility", "visible");
            $('#popupMeasurementUnit').css("opacity", 1);

        });






        $("#popupCategory .close").click(function () {

            $('#popupCategory').css("visibility", "hidden");
            $('#popupCategory').css("opacity", 0);
        });




        $("#popupMeasurementUnit .close").click(function () {

            $('#popupMeasurementUnit').css("visibility", "hidden");
            $('#popupMeasurementUnit').css("opacity", 0);
        });




    });



</script>
<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/pharmacy/summary">SUMMARY</a></li>
            <li class="addpharmacy"><a href="#/pharmacy/addpharmacy">ADD/EDIT PHARMACY</a></li>
            <li class="inventory"><a href="#/pharmacy/inventory">Inventory</a></li>

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="PharmacyController">


    <div id="popupCategory" class="overlay">
        <div class="popup">
            <h2>Enter Category</h2>
            <a class="close" href="#" ng-click="$event.preventDefault();">×</a>
            <div class="content_text">
                <div class="padding40">
                    <div>Category Name</div>
                    <div><input type="text" ng-model="categoryName"></div>
                    <div><input name="save" type="button" value="save" class="md_button" ng-click="saveCategory()"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="popupMeasurementUnit" class="overlay">
        <div class="popup">
            <h2>Enter Measurement Unit</h2>
            <a class="close" href="#" ng-click="$event.preventDefault();">×</a>
            <div class="content_text">
                <div class="padding40">
                    <div>Measurement Unit Name</div>
                    <div><input type="text" ng-model="measurementUnitName"></div>
                    <div><input name="save" type="button" value="save" class="md_button" ng-click="saveMeasurementUnit()"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="summary hide">

        <div class="criteria_box">


            <select ng-model="filterCondition.CategoryId" ng-change="loadItems()">

                <option ng-selected="true" value="0"> All</option>
                <option ng-repeat="category in TestCategories" value="{{category.Id}}"> {{category.Name}}</option>


            </select>
        </div>

        <table width="100%" border="1" align="center" class="bordered" ng-model="items" >
            <thead>
                <tr>
                    <th width="36%">Medicine Name</th>
                    <th colspan="6">Category</th>
                    <th width="17%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.Name}} </td>
                    <td colspan="6">{{item.ItemCategory.Name}}   </td>
                    <!--<td><a class="fa fa-trash fa-2x" aria-hidden="true" href="#"></a>&nbsp;<a class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ng-href="#/pharmacy/addpharmacy/{{labitem.Id}}"></a></td>-->
                    
                    <td><a class="fa fa-trash fa-2x" aria-hidden="true" ng-click="$event.preventDefault();deletePharmacy(item.Id);" ng-really-message="Are you Sure you want to Delete ?" ng-really-click="takeAction()"></a>&nbsp;<a class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ng-href="#/pharmacy/addpharmacy/{{item.Id}}"></a></td>
                </tr>

            </tbody>
            <tfoot>
            </tfoot>
        </table>

    </div>
    <div class="addpharmacy hide">

        <div class="round_box box_general" ng-show="saveSuccess>0">

            <div class="success_message">Successfully Saved the Item</div>
        </div>
        <div class="round_box box_general" ng-show="valid=false">

            <div class="success_message" >Plz filup the required fields !</div>
        </div>

        <div style="clear:both;"></div>

        <div ng-show="saveSuccess>0" class="register">
            <a class="modal_registration_click" aria-hidden="true" ng-click="ReloadPage()" ng-href="#/pharmacy/addpharmacy">Add New Pharmacy Item</a>
        </div>


        <form name="form1" >
            <!--<form name="loginform" novalidate ng-submit="login.submit(loginForm)" class="css-form">-->
                <div class="round_box box_general" ng-class="{true: 'error'}[submitted && form1.name.$invalid]">
                    <table width="95%" border="1" ng-model="SingleItem">
                        <tr>
                            <td width="14%" height="39">&nbsp;</td>
                            <td width="19%"><div class="require">*</div>NAME</td>
                            <td width="19%">
                                <input type="text" ng-model="SingleItem.Name" required name="name">
                                <!--<span class="help-inline" ng-show="submitted && form1.name.$error.required">Required</span>-->
                                <div ng-show="form1.name.$invalid">
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </td>
                            <td width="48%"></td>
                            <!--<td><span ng-show="!SingleItem.Name.length">Please enter something!</span></td>-->
                        </tr>



                        <tr>
                            <td height="39">&nbsp;</td>
                            <td>CODE</td>
                            <td colspan="2">
                                <input type="text" ng-model="SingleItem.Code" required name="code">
                                <div ng-show="form1.code.$invalid">
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td height="39">&nbsp;</td>
                            <td>GENERIC NAME</td>
                            <td colspan="2">
                                <input type="text" ng-model="SingleItem.GenericName" required name="genericName">
                                <div ng-show="form1.genericName.$invalid">
                                    <div ng-message="required">This field is required</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td height="39">&nbsp;</td>
                            <td><div class="require">*</div>CATEGORY</td>
                            <td colspan="2">

                                <select ng-model="filterCondition.ItemCategoryId">

                                    <option ng-repeat="category in TestCategories" value="{{category.Id}}"> {{category.Name}}</option>

                                </select>
                                <a class="fa fa-plus-circle fa-2x" aria-hidden="true" id="categoryPop"></a>


                            </td>
                        </tr>

                        <tr ng-show="hide">
                            <td height="39">&nbsp;</td>
                            <td>MEASURE UNIT</td>
                            <td colspan="2">

                                <select name="palnType3" class="distype" ng-model="filterCondition.MeasurementUnitId">


                                    <option ng-repeat="measureMentUnit in MeasureMentUnits" value="{{measureMentUnit.Id}}">{{measureMentUnit.Name}}</option>



                                </select>
                                <a class="fa fa-plus-circle fa-2x" aria-hidden="true" href="#" id="MeasurementUnit"></a>


                            </td>
                        </tr>

                        <tr>
                            <td height="39">&nbsp;</td>
                            <td>BUY PRICE</td>
                            <td colspan="2">
                                <input type="text" ng-model="SingleItem.BuyPrice">

                                &nbsp;&nbsp;  <a ng-show="SingleItem.Id>0" class="arrow_head" href="#" ng-click="$event.preventDefault();StockModal('lg',true)"> ADD STOCK</a>
                            </td>

                        </tr>

                        <tr>
                            <td height="39">&nbsp;</td>
                            <td><div class="require">*</div>CHARGE PRICE</td>
                            <td colspan="2"><input type="text" ng-model="SingleItem.SalePrice"></td>
                        </tr>

                        <tr>
                            <td height="39">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="39">&nbsp;</td>
                            <td colspan="3">
                                <input name="save" type="button" value="save" class="md_button" ng-click="saveItem();" ng-disabled="form1.$invalid">
                                <!--<input name="save" type="submit" value="save" class="md_button" ng-click="submitted = true;saveItem();">-->
                                <input name="cancel" type="button" value="cancel" class="md_button">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

    </div>

    <div class="inventory hide">


        <div class="criteria_box">


          Store   <select>

                
                <option> </option>


            </select>
        </div>
        <div class="space"></div>

        <table width="100%" border="1" align="center" class="bordered evencolor">
            <thead>
                <tr>
                    <th width="3%">&nbsp;</th>
                    <th width="41%">Item Name</th>
                    <th width="17%">Quantity</th>
                    <th width="25%">Re-Order Level</th>
                    <th width="14%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="fa fa-arrow-circle-right fa-2x"></a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>

                        <a class="link_brown" href="#" ng-click="$event.preventDefault();">Edit Inventory</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="center" class="padding_left60">

                        <table width="90%" border="1" align="center" class="bordered small_header">
                            <thead>
                                <tr>
                                    <th width="16%">QUANTITY</th>
                                    <th width="13%">BUY PRICE</th>
                                    <th width="7%">EXPIRE DATE</th>
                                    <th width="21%">&nbsp;</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a class="fa fa-pencil-square-o fa-1_5x" aria-hidden="true" href="#"></a>
                                    </td>


                                </tr>

                            </tbody>
                        </table>


                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>
