<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/pharmacy/summary">SUMMARY</a></li>
            <li class="addpharmacy"><a href="#/pharmacy/addpharmacy">ADD/EDIT PHARMACY</a></li>

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="PharmacyController">

    <div class="summary hide">
        pharmacy summary
    </div>
    <div class="addpharmacy hide">
        pharmacy add/edit
    </div>

</div>
