<div class="site_navigation" ng-controller="PrimaryMenuController">

    <ul>
        <li class="patientinfo"><a ng-href="#/patient" class="selected" >Patient info</a></li>
        <li class="labtest"><a ng-href="#/labtest/summary">Lab Test</a></li>
        <li class="pharmacy"><a ng-href="#/pharmacy/summary">Pharmacy</a></li>
        <li class="appointment"><a ng-href="#/appointment/setup">Appointment</a></li>
        <li class="bedsetup"><a ng-href="#/bedsetup/summary">Bed Setup</a></li>
        <li class="billing"><a ng-href="#/billing/summary">Billing</a></li>
        <li class="configuration"><a ng-href="#/configuration/copayer">Configuration</a></li>
        <li class="admin"><a ng-href="#/admin/approval/refund">Admin</a></li>

    </ul>


</div>