<script>
   
    function test()
    {
       
      //  $("#print_content").printThis();

        $("#print_content").printThis({
            debug: false, 
            importCSS: false,            
            importStyle: false,        
            printContainer: true,    
            pageTitle: "",            
             removeInline: false,        
             printDelay: 333,            
             header: "<div class='blankHeight'>sdfsdf</div>",              
             formValues: true,
            loadCSS: "../../css/print.css" 
    });

    }
   
</script>

<div class="modal-header rite_print_modal_header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden=" true">&times;</span></button>
    <h2 class="modal-title" id="myModalLabel">
       Print Invoice
    </h2>
</div>

<div class="modal-body" style="background:#808080;">

        
    <div class="print_content" id="print_content">

        <div class="no-print"> <a class="fa fa-print fa-2x" aria-hidden="true" href="#" onclick="event.preventDefault();test()"></a></div>
        <div style="clear: both"></div>

        <div class="print_body">

            <div class="invoice">Invoice</div>

            <div class="payment_middle">

                <div class="payment_detail_left line_height_small">

                    <p>
                        <h2>NAME</h2>
                        {{Patient.FirstName}} {{Patient.LastName}}
                    </p>
                    <p>
                        <h2>GENDER</h2>
                        {{Patient.Gender ? 'Female' : 'Male'}}
                    </p>
                    <p>
                        <h2>ADDRESS</h2>
                        {{Patient.City}}, {{Patient.Zip}}, {{Patient.Country}}
                    </p>

                </div>
                <div class="payment_detail_right line_height_small">
                    <p>
                        <h2>INVOICE DATE</h2>
                        {{singleinvoice.InvoiceDate}}
                    </p>
                    <p>
                        <h2>INVOICE NO</h2>
                        {{singleinvoice.Id}}
                    </p>

                </div>

                <div style="clear: both"></div>
            </div>

            <table width="100%" border="1" align="center"  class="prinInvoice">
                <thead>
                    <tr>
                        <th width="12%">No</th>
                        <th width="14%">Quantity</th>
                        <th width="37%" colspan="2">Item Name</th>
                        <th width="37%">Price</th>
                    </tr>
                </thead>
                <tbody ng-repeat="patientservice in singleinvoice.PatientServices">
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{patientservice.ServiceQuantity}}</td>
                        <td colspan="2">{{patientservice.Item.Name}}</td>
                        <td>{{patientservice.ServiceActualPrice*patientservice.ServiceQuantity}}</td>
                    </tr>
                </tbody>
                <tfoot>

                    <tr >
                        <td class="border-bottom">&nbsp;</td>
                        <td class="border-bottom">&nbsp;</td>
                        <td colspan="2" class="border-bottom">&nbsp;</td>
                        <td class="border-bottom">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td align="right">Total Price</td>
                        <td>&nbsp;</td>
                        <td>{{singleinvoice.TotalPrice}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td align="right">Discount</td>
                        <td>&nbsp;</td>
                        <td>{{singleinvoice.TotalDiscount}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td align="right">Total</td>
                        <td>&nbsp;</td>
                        <td>{{singleinvoice.TotalAmount}}</td>
                    </tr>
                </tfoot>
            </table>

            <div class="space"></div>

        </div>

    </div>
   


</div>