
<div ng-include src="'/ClientCode/Template/ReportTransactionMenu.html'"></div>

<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/report/transaction/summary">Transaction SUMMARY</a></li>
            <li class="ledger"><a href="#/report/transaction/ledger">Ledger report</a></li>

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="ReportTransactionController">
    <div class="summary hide">

        demo
    </div>
    <div class="ledger hide">

        demo
    </div>
</div>
