
<script>

    var richTextData="";
    function ok(event) {

        richTextData = CKEDITOR.instances.editor1.getData();
        angular.element(event).scope().ok(richTextData);
    
    }
    $(document).ready(function () {
        //CKEDITOR.instances.editor1.getData(richTextData);
       // CKEDITOR.instances.editor1.setData(richTextData);
        //alert(richTextData);
        //if(richTextData!="")
        //{
        //    CKEDITOR.instances.editor1.setData(richTextData);
        //}
       // angular.element(document.getElementById('myModalLabel')).scope().loadSavedData();
    });


</script>

<div class="modal-header rite_modal_header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title" id="myModalLabel">
        Build Report Template
    </h2>
</div>
<div class="modal-body">
    
    <div ng-show="labreportTemplates.length==0" style="height:80px;"><h2></he>No Report Template found for this item. Please Enter a Template first</h2></div>

    <div class="chooseTemplate hide" ng-show="labreportTemplates.length>0">
        <table width="393" border="0" class="report_template" align="center">
            <thead>
                <tr>
                    <th colspan="2" align="left" height="40px;"><h2>Select A Template </h2></th>
                </tr>
            </thead>
            <tbody ng-repeat="labreportTemplate in labreportTemplates">
                <tr>
                    <td width="57" align="center">
                        <input type="radio" name="radio" id="radio" ng-model="labreportTemplate.Select" ng-change="LoadData(labreportTemplate)" value="radio" />
                    </td>
                    <td width="326">{{labreportTemplate.Name}}</td>
                </tr>
            </tbody>

        </table>
    </div>

        <div class="editor">

            <div style="clear: both"></div>
            <div class="space"></div>
            <div ng-hide="Edit"><a href="#" ng-click="$event.preventDefault();Back();" class="link_brown">Back</a></div>
            <div class="space"></div>

          

            <textarea name="editor1" id="editor1" ng-model="reportFomrat" rows="10" cols="80" ng-init="loadSavedData();">
                This is my textarea to be replaced with CKEditor.
            </textarea>

            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('editor1');

            </script>


            <div style="clear: both"></div>
            <div class="space"></div>

            <div class="inputbox">
                <input name="save" type="button" value="save" class="md_button" onclick="ok(this);">
                <input name="cancel" type="button" value="cancel" class="md_button cancel" ng-click="cancel()">
                <div style="clear: both"></div>
                <div class="space"></div>


            </div>

            <div style="clear: both"></div>
        </div>

    </div>