<div class="site_navigation_secondary" ng-controller="ReportTransactionMenuController">
    <ul>
        <li class="transaction"><a href="#/report/transaction/summary" class="active">Transaction</a></li>
        <li class="summary_report"><a href="#">Patient SummAry Report</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
        <li><a href="#">Patient / Investigation</a></li>
    </ul>

</div>