<h2> Requsition Status</h2>
<div class="dashboard_content">

    <table width="100%" border="0">
        <thead>
            <tr>
                <th width="5%" align="left">&nbsp;</th>
                <th width="20%" align="left">Requsition Date</th>
                <th width="75%" align="left">Purpose</th>
            </tr>
        <thead>
        <tbody>
            <tr>
                <td class="border_bottom_none"><a class="fa fa-arrow-circle-down fa-2x"></a></td>
                <td class="border_bottom_none">11/11/2016</td>
                <td class="border_bottom_none">10 </td>
            </tr>
            <tr>
                <td colspan="3" align="center" class="border_bottom_dashboard">

                    <table width="95%" border="0" class="nested">
                        <thead>
                            <tr>
                                <th width="57%" align="left">Item Name</th>
                                <th width="10%" align="left">Quantity</th>
                                <th width="33%">&nbsp;</th>
                            </tr>
                        <thead>
                        <tbody>
                            <tr>
                                <td>Napa extended</td>
                                <td>10 </td>
                                <td><a class="fa fa-check fa-2x" aria-hidden="true" herf="#" ng-click="$event.preventDefault()"></a> <a class="fa fa-times fa-2x" aria-hidden="true" herf="#" ng-click="$event.preventDefault()" ng-really-message="Are you Sure you want to Cancel ?" ng-really-click="takeAction()"></a>
                            </tr>
                            <tr>
                                <td>Napa extended</td>
                                <td>10 </td>
                                <td><a class="fa fa-check fa-2x" aria-hidden="true" herf="#" ng-click="$event.preventDefault()"></a> <a class="fa fa-times fa-2x" aria-hidden="true" herf="#" ng-click="$event.preventDefault()" ng-really-message="Are you Sure you want to Cancel ?" ng-really-click="takeAction()"></a>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>

</div>