<div class="container_secondary_tab" style="">
    <div class="container_secondary_tab_abs">
        <ul class="tabs group">
            <li class="summary active"><a href="#/surgery/summary">SUMMARY</a></li>
            <li class="addpsurgery"><a href="#/surgery/addpsurgery">ADD/EDIT PHARMACY</a></li>

        </ul>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
</div>

<div class="content" ng-controller="SurgeryController">
    <div class="summary hide">

        demo
    </div>
    <div class="addpsurgery hide">

        demo
    </div>
 </div>
