@charset "utf-8";
/* CSS Document */
@import url('reset.css') screen;
@import url('layout.css') screen;


body
{
	background-color:#e6e6e6;
	margin:0;
	padding:0;
	font-family:SansRegular;
	font-size:12px;
	color:#6b6c6b;
}

a {
    cursor: pointer;
}

.round_box_title
{
	background:url(../images/arrow_head.gif) no-repeat right ;
	height:90px;
	padding-top:20px;
	
}
.round_box_title img {
	vertical-align:middle;
	margin-bottom:12px;
	margin-top:6px;
	
	
	}
h1
{
	color:#424342;
	text-transform:uppercase;
	font-family:SansSemiBold;
	font-size:13px;
	display:inline-block;
	font-size:13px;

}
.round_box_title h1
{
	padding-top:6px;
	margin-left:4px;	
}

h2
{
	color:#424342;
	text-transform:uppercase;
	font-family:SansSemiBold;
	font-size:13px;
	display:inline-block;
	font-size:12px;
	padding-right:12px;

}

h3
{
	
	color:#424342;
	font-size:24px;
	text-transform:uppercase;
	display:block;
	padding-bottom:30px;
}
strong
{
font-family:SansSemiBold;
color:#424342;	
}
.home_appointment_details p, .patient_address p
{
	padding-top:6px;
}
.line_height_small p
{
	padding-top:2px;
}


.login_info a
{
	color:#538e4a;
	text-transform:uppercase;
	text-decoration:underline;
	font-family:SansSemiBold;
	font-size:10px;
	
}
.login_info a:hover
{

	text-decoration:none;
}
.register a
{
	color:#1d5a13;
	text-transform:uppercase;
	text-decoration:underline;
	font-family:SansSemiBold;
	font-size:11px;
	background:url(../images/arrow_green.gif) no-repeat top left;
	
	padding-left:18px;
	
}
.register a:hover
{

	text-decoration:none;
}


a.arrow_head
{
	color:#1d5a13;
	text-transform:uppercase;
	text-decoration:underline;
	font-family:SansSemiBold;
	font-size:11px;
	background:url(../images/arrow_green.gif) no-repeat top left;
	
	padding-left:18px;
	
}
a.arrow_head:hover
{

	text-decoration:none;
}

input[type="text"]
{
	border:1px solid #ced1d7;
	background:#fff;
	 border-radius:4px;
}

input[type="text"]:disabled{
    background-color:#ced1d7;

}
select
{
 border: 1px solid #ced1d7;
  background: transparent;
  width: 100px;
  
  height:20px;
 
}
input[type=button]:hover
{
	cursor:pointer;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(192, 247, 97, 1);
  border: 1px solid rgba(186, 209, 183, 1);
 
}
#patientcode
{
	width:95px;
}
#patientname
{
	width:385px;
}
.round_box_rightcontent
{
	font-size:11px;
	font-family:SansSemiBold;
	color:#676867;
	text-transform:uppercase;
}
.site_navigation
{
	font-size: 11px;
	font-family: SansSemiBold;
	color: #ff45f;
	text-transform: uppercase;
    margin:0 auto;
	width:895px;
	
	
	
}
.site_navigation ul:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
.site_navigation { list-style: none; }
.site_navigation li { display: inline;}
.site_navigation li a { color: #fff;padding:15px; background: #80b24a; text-decoration: none;float:left; position:relative; margin-left:1px; top:1px;  }
.site_navigation li a:hover { background: #538e4a; }


.site_navigation li a.selected:after {
	content: '';
	display: block;  
	position: absolute;
	left: 40%;
	top: 100%;
	width: 0;
	height: 0;
	border-top: 10px solid #538e4a;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.site_navigation li.patientinfo a.selected 
{
	background: url(../images/sitemenu_patieninfo_hover.gif) no-repeat 4px 2px #538e4a;
	padding-left:30px;	
}
.site_navigation li.patientinfo a:hover
{
background: url(../images/sitemenu_patieninfo_hover.gif) no-repeat 4px 2px #538e4a;	
padding-left:30px;	
}
.site_navigation li.patientinfo a
{
background: url(../images/sitemenu_patieninfo.gif) no-repeat 4px 2px #80b24a;	
padding-left:30px;	
}

.site_navigation li.labtest a.selected 
{
	background: url(../images/sitemenu_lab_hover.gif) no-repeat 6px 2px #538e4a;
	padding-left:32px;	
}
.site_navigation li.labtest a:hover
{
background: url(../images/sitemenu_lab_hover.gif) no-repeat 6px 2px #538e4a;	
padding-left:32px;	
}
.site_navigation li.labtest a
{
background: url(../images/sitemenu_lab.gif) no-repeat 6px 2px #80b24a;	
padding-left:32px;	
}


.site_navigation li.pharmacy a.selected 
{
	background: url(../images/sitemenu_pharmacy_hover.gif) no-repeat 6px 2px #538e4a;
	padding-left:32px;	
}
.site_navigation li.pharmacy a:hover
{
background: url(../images/sitemenu_pharmacy_hover.gif) no-repeat 6px 2px #538e4a;	
padding-left:32px;	
}
.site_navigation li.pharmacy a
{
background: url(../images/sitemenu_pharmacy.gif) no-repeat 6px 2px #80b24a;	
padding-left:32px;	
}


.site_navigation li.appointment a.selected 
{
	background: url(../images/sitemenu_appointment_hover.gif) no-repeat 6px 2px #538e4a;
	padding-left:32px;	
}
.site_navigation li.appointment a:hover
{
background: url(../images/sitemenu_appointment_hover.gif) no-repeat 6px 2px #538e4a;	
padding-left:32px;	
}
.site_navigation li.appointment a
{
background: url(../images/sitemenu_appointment.gif) no-repeat 6px 2px #80b24a;	
padding-left:32px;	
}


.site_navigation li.bedsetup a.selected 
{
	background: url(../images/sitemenu_bed_hover.gif) no-repeat 6px 2px #538e4a;
	padding-left:48px;	
}
.site_navigation li.bedsetup a:hover
{
background: url(../images/sitemenu_bed_hover.gif) no-repeat 6px 2px #538e4a;	
	
}
.site_navigation li.bedsetup a
{
background: url(../images/sitemenu_bed.gif) no-repeat 6px 2px #80b24a;	
padding-left:48px;	
}



.site_navigation li.billing a.selected 
{
	background: url(../images/sitemenu_billing_hover.gif) no-repeat 6px 2px #538e4a;
	padding-left:32px;	
}
.site_navigation li.billing a:hover
{
background: url(../images/sitemenu_billing_hover.gif) no-repeat 6px 2px #538e4a;	
	
}
.site_navigation li.billing a
{
background: url(../images/sitemenu_billing.gif) no-repeat 6px 2px #80b24a;	
padding-left:32px;	
}



.site_navigation li.configuration a.selected 
{
	background: url(../images/sitemenu_billing_hover.gif) no-repeat 6px 2px #538e4a;
	padding-left:32px;	
}
.site_navigation li.configuration a:hover
{
background: url(../images/sitemenu_billing_hover.gif) no-repeat 6px 2px #538e4a;	
	
}
.site_navigation li.configuration a
{
background: url(../images/sitemenu_billing.gif) no-repeat 6px 2px #80b24a;	
padding-left:32px;	
}

.site_navigation li.admin a:hover
{
background: url(../images/sitemenu_admin_hover.gif) no-repeat 6px 2px #538e4a;	
	
}
.site_navigation li.admin a
{
background: url(../images/sitemenu_admin.gif) no-repeat 6px 2px #80b24a;	
padding-left:32px;	
}

.site_navigation li.admin a.selected 
{
	background: url(../images/sitemenu_admin_hover.gif) no-repeat 6px 2px #538e4a;
	padding-left:32px;	
}


.site_navigation_secondary
{
	font-size: 11px;
	font-family: SansSemiBold;
	color: #ff45f;
	text-transform: uppercase;
    margin:0 auto;
	width:100%;
    text-align:center;
	
	
	
}
.site_navigation_secondary ul:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
.site_navigation_secondary { list-style: none; }
.site_navigation_secondary li { display: inline; width:80px;}
.site_navigation_secondary li a { color: #fff;padding:15px; background: #80b24a; text-decoration: none;float:left; position:relative; margin-left:1px; top:1px;  }
.site_navigation_secondary li a:hover { background: #538e4a; }


#itemname
{
	margin-top:2px;
	margin-bottom:2px;
	width:395px;
	height:17px;
}
.add_item_input
{
	margin-left:20px;
	margin-bottom:5px; 
	margin-top:30px;
    
}

.add_item_input select
{
	display:block; 
	height:25px;
    width:170px;
    margin-left:6px;
}
.floatleft
{
	float:left;
}

.floatright
{
	float:right;
}


.itemButton
{
	float:left;
	margin-top:2px;
	 margin-left:2px;
}
.item_grid
{
	margin-top:12px;width:1200px; margin:0 auto; margin-bottom:22px;
}
.item_grid .quantity
{
	width:80px;
}
.item_grid .referrer
{
	width:80px;
}
.item_grid .amount
{
	width:80px;
}
.item_grid .reportdeliverydate
{
	width:120px;
}
.item_grid .datepickicon
{
	vertical-align:middle;
	
}
.item_grid .quantity
{
	width:40px;
}

.item_grid .cost
{
	width:80px;
}

.item_grid .discount
{
	width:80px;
}
.item_grid .cost_after_discount
{
	width:80px;
}
.item_grid .referrer_after_discount
{
	width:80px;
}
.item_grid .cost
{
	width:80px;
}

.round_title_margin h1
{
	margin-top:25px;
}
img
{
	vertical-align:middle;
}
.line_item_total_calc
{
	margin-top:12px;
	
}
.border_bottom
{
	border-bottom:1px solid #b9d0c4;
	padding:6px;
}
.success_message
{
	font-size:11px;
	margin-top:2px;
	margin-left:10px;
	color:#06a412
}
.modal_menu
{
	color:#c66c1c;
	font-size:11px;
	font-family:SansSemiBold;
	text-transform:uppercase;
}

.modal_menu a.active
{
	color:#000;
	text-decoration:none;
}
.modal_menu a
{
	text-decoration:underline;
	color:#c66c1c;
}
.modal_header
{
	border-bottom:1px solid #cbd8d1;
}
div.payment_input_box
{
	padding:20px;
	padding-top:20px;
	
	
}
.payment_input_box .payment_amount
{
	width:140xp;
}

.payment_input_box .payment_method
{
	width:145px;
	
}
.payment_input_box .copayer_amount
{
	140px;
}
.payment_input_box > div
{
	height:12px;
	
}
.space
{
	padding:5px;
}
.status_green
{
	color:#538e4a;
	font-size:11px;
	font-family:SansSemiBold;
	text-transform:uppercase;
}

.status_red
{
	color:#e30d21;
	font-size:11px;
	font-family:SansSemiBold;
	text-transform:uppercase;
}

.status_brown
{
	color:#c66c1c;
	font-size:11px;
	font-family:SansSemiBold;
	text-transform:uppercase;
}
.status_blue
{
	color:#26a6e1;
	font-size:11px;
	font-family:SansSemiBold;
	text-transform:uppercase;
}
table td.padding_left60
{
	padding-left:60px;
	padding-bottom:30px;
}
a.fa-search:hover, a.fa-search:focus
{
	text-decoration:none;
}


body.datepicker-dropdown {
   z-index:99999 !important;
}

input[type="text"]#doctorName
{
    width:200px;

}




.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 170px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;

}

.popup h2 {
  margin-top: 0;
  color: #333;
  

}

.popupLight
{
    border-radius: 4px;
    border: 1px solid #b9d0c4;

     box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.55);
     z-index:9999;
}
.popupLight textarea
{
 border: 1px solid #b9d0c4;
}


.popupLight  h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  padding:10px;
  margin-left:10px;
  font-weight:bold;
}


.popupLight  .close {

float:right;
margin-right:10px;
margin-top:10px;

}



.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content_text {


  overflow: hidden;
}
.padding40
{
    padding:40px;
}
.padding40 div{
    padding:4px;
}
