<!doctype html>
<html ng-app="HMS">
<head>
    <title>Hospital Management Software (verion .05)</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/ico" />

    <!-- jQuery, Angular -->
   @*<script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>*@
   
    <script src="~/Scripts/ck/ckeditor.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.js"></script>
    <script src="~/Scripts/ng-file-upload.js"></script>

    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-loading-spinner.js"></script>
    <script src="~/Scripts/angular-spinner.min.js"></script>
    <script src="~/Scripts/Spin.min.js"></script>





    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/css/main.css">


    <!-- HMS app -->
    <script src="~/ClientCode/app.js" type="text/javascript"></script>

    <script src="~/ClientCode/Script/Controller/UserController.js"></script>
    <script src="~/ClientCode/Script/Service/UserService.js"></script>

    <script src="~/ClientCode/Script/Controller/ContactController.js" type="text/javascript"></script>
    <script src="~/ClientCode/Script/Service/ContactService.js" type="text/javascript"></script>

    <script src="~/ClientCode/Script/Controller/PatientController.js" type="text/javascript"></script>
    <script src="~/ClientCode/Script/Service/PatientService.js" type="text/javascript"></script>

    <script src="~/ClientCode/Script/Controller/BillingController.js" type="text/javascript"></script>
    <script src="~/ClientCode/Script/Service/BillingService.js" type="text/javascript"></script>

    <script src="~/ClientCode/Script/Controller/ModalController.js" type="text/javascript"></script>

    <script src="~/ClientCode/Script/Controller/AddItemController.js"></script>
    <script src="~/ClientCode/Script/Service/AddItemService.js"></script>

    <script src="~/ClientCode/Script/Controller/LabTestController.js"></script>
    <script src="~/ClientCode/Script/Service/LabTestLService.js"></script>

    <script src="~/ClientCode/Script/Controller/AppointmentController.js"></script>
    <script src="~/ClientCode/Script/Service/AppointmentService.js"></script>

    <script src="~/ClientCode/Script/Controller/BedSetupController.js"></script>
    <script src="~/ClientCode/Script/Service/BedSetupService.js"></script>

    <script src="~/ClientCode/Script/Controller/PharmacyController.js"></script>
    <script src="~/ClientCode/Script/Service/PharmacyService.js"></script>

    <script src="~/ClientCode/Script/Controller/ConfigurationController.js"></script>
    <script src="~/ClientCode/Script/Service/ConfigurationService.js"></script>

    <script src="~/ClientCode/Script/Controller/AdminController.js"></script>
    <script src="~/ClientCode/Script/Service/AdminService.js"></script>

    <script src="~/ClientCode/Script/Service/ItemService.js"></script>

    <!-- Directives -->

    <script src="~/ClientCode/Script/Directive/ConfirmationBox.js"></script>


    <script src="~/Scripts/printThis.js"></script>


    <script>
        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            if (results != null) {
                var dt = new Date(parseFloat(results[1]));

                return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
            } else {
                return value;
            }
        }

        function calculateAge(dateString) { // birthday is a date
            var now = new Date();
            var birthdate = dateString.split("/");
            var born = new Date(birthdate[2], birthdate[1] - 1, birthdate[0]);
            age = get_age(born, now);
            return age;
        }

        function get_age(born, now) {
            var birthday = new Date(now.getFullYear(), born.getMonth(), born.getDate());
            if (now >= birthday)
                return now.getFullYear() - born.getFullYear();
            else
                return now.getFullYear() - born.getFullYear() - 1;
        }

    </script>
</head>

<body>
    <div ng-controller="PatientController">
        <div class="top_header">
            <div class="top_container">

                <span us-spinner></span>

                <div>
                    <div class="logo_img"><img src="~/images/stethoscope.gif" width="136" height="143" alt="stethoscope"></div>
                    <div class="user_info" ng-controller="UserController">
                        <div><img src="~/images/hospitalmanagement.gif" width="260" height="63" alt="hospital management system"></div>
                        <div class="login_info">You are loged in as {{User.FullName}}   |   <a href="/Login/LogOff">SIGN OUT</a></div>
                        <div class="register">
                            <a data-toggle="modal" class="modal_registration_click" ng-click="PatientModal('lg')">Register new patient </a>
                        </div>
                        <div class="register" ng-show="Patient != null && Patient.Id != null">
                            <a data-toggle="modal" class="modal_registration_click" ng-click="PatientModal('lg', true);">Edit patient</a>
                        </div>
                    </div>

                    <div class="round_box">

                        <div class="round_box_title">
                            <img src="~/images/ico_patient.gif" width="28" height="44">
                            <h1>Select Patient</h1>
                        </div>
                        <div class="select_patient">
                            <table width="528" border="1" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td width="99">Patient Code</td>
                                    <td width="132">
                                        <label for="patientcode"></label>
                                        <input type="text" name="patientcode" id="patientcode" ng-model="Patient.Id" ng-keyup="$event.keyCode == 13 && GetPatientById(Patient.Id)">
                                    </td>
                                    <td width="101">Patient Cell No</td>
                                    <td width="173"> <input type="text" name="patientcellno" ng-model="Patient.PhoneNumber" id="patientcellno" ng-keyup="$event.keyCode == 13 && GetPatientByPhone(Patient.PhoneNumber)"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Patient Name</td>
                                    <td colspan="3">
                                        @*<input type="text" name="patientname" ng-model="Patient.FirstName" id="patientname" ng-keyup="$event.keyCode == 13 && GetPatientsByName(Patient.FirstName)">*@

                                        <div>
                                            <input name="patients" id="patients" type="text" placeholder="Type patient's name"
                                                   ng-model="Patient.Name"
                                                   typeahead="item as (item.FirstName + ' ' + item.LastName) for item in SearchPatientsByPartialName($viewValue)"
                                                   typeahead-on-select="OnPatientSelect($item, $model, $label)"
                                                   typeahead-min-length="1"
                                                   typeahead-wait-ms="1"
                                                   class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="clear:both;"> </div>
                </div>

                <div class="site_navigation">

                    <ul>
                        <li class="patientinfo"><a ng-href="#/patient" class="selected" ng-click="UpdateTopLink('patient')">Patient info</a></li>
                        <li class="labtest"><a ng-href="#/labtest/summary" ng-click="UpdateTopLink('labtest')">Lab Test</a></li>
                        <li class="pharmacy"><a ng-href="#/pharmacy/summary" ng-click="UpdateTopLink('pharmacy')">Pharmacy</a></li>
                        <li class="appointment"><a ng-href="#/appointment/setup" ng-click="UpdateTopLink('appointment')">Appointment</a></li>
                        <li class="bedsetup"><a ng-href="#/bedsetup/summary" ng-click="UpdateTopLink('bedsetup')">Bed Setup</a></li>
                        <li class="billing"><a ng-href="#/billing/summary" ng-click="UpdateTopLink('billing')">Billing</a></li>
                        <li class="configuration"><a ng-href="#/configuration/copayer" ng-click="UpdateTopLink('configuration')">Configuration</a></li>
                        <li class="admin"><a ng-href="#/admin/refund" ng-click="UpdateTopLink('admin')">Admin</a></li>

                    </ul>


                </div>

            </div>

        </div>

        <div class="outer_content">
            <div ng-view></div>
        </div>
    </div>
</body>
</html>